button:focus {
    outline: 0 !important;
}

#app-nav {
    width: 100%;
    height: 50px;
    background-color: #ebf4f4;
}

#app-logo {
    position: absolute;
    top: 10px;
    left: 30px;
    height: 30px;
    z-index: 9999;
}

#app-title {
    position: absolute;
    top: 5px;
    left: 230px;
    font-size: 24px;
}

#app-toolbar {
    position: absolute;
    top: 10px;
    right: 20px;
    z-index: 9999;
    opacity: 0.9;
}

#app-schemas {
    position: absolute;
    top: 10px;
    right: 200px;
    z-index: 9999;
    opacity: 0.9;
}

#editor {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 5px;
    z-index: 1;
}

#main-body {
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    bottom: 5px;
    z-index: 0;
}